@{
    ViewBag.Title = "About";
}

<link href="~/Content/Aboutcss/About.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="div1">
                <img class="img" src="~/Content/Images/about.png" />
            </div>
        </div>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <h1  style="font-family:微軟正黑體;">關於我們</h1>
        <hr/>
        <div class="col-md-6" style="color:black;font-family:微軟正黑體;">
            <h1 class="point" style="color:#3B5998;  text-align:center; font-family:微軟正黑體;" >以認養代替購買<br/>以送養代替拋棄</h1>  
        </div>
        <div class="col-md-6">
           <p class="descr" style="font-family:微軟正黑體; font-size:18px; " >
                    這是一個非官方的網站，目的是希望透過網站及APP即時分享狗狗 &amp; 貓貓的認養及送養資訊，
                    讓想要養寵物的各位以認養代替購買，以送養代替拋棄。
                       
            </p>
            <br/>
            <br />
            <p class="descr" style="font-family:微軟正黑體; font-size:18px; ">
                如果需要進行認養及送養，請參考網站中的認養及送養步驟進行認養及送養，給他們一個溫暖的家。
                歡迎大家以認養代替購買，節省經費，又可發揮愛心。   
            </p>
        </div>
    </div>
</div>

<br/>
<br/>
<section id="section_service">
    <div class="container">
        <h1  style="font-family:微軟正黑體;">本站服務</h1>
        <hr />
        <div class="row">
            <div class="col-sm-12">
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img_wrap">
                    <img src="~/Content/Images/service/service.png"/>
                </div>
                <h3  style="color:#3B5998;  font-family:微軟正黑體;">豐富的認養資訊</h3>
                <p  style="font-family:微軟正黑體; font-size:18px;">整合全台收容所、本站PetGO平台認養資訊</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img_wrap">
                    <img src="~/Content/Images/service/service02.jpg" />
                </div>
                <h3  style="color:#3B5998;  font-family:微軟正黑體;">多平台的認養體驗</h3>
                <p  style="font-family:微軟正黑體; font-size:18px;">提供Web、Android、iOS三方平台體驗</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="img_wrap">
                    <img src="~/Content/Images/service/service03.png" />
                </div>
                <h3  style="color:#3B5998;  font-family:微軟正黑體;">便捷的寵物資訊</h3>
                <p  style="font-family:微軟正黑體; font-size:18px;">提供實用的動物資訊</p>
            </div>
        </div>
    </div>
</section>

<br/>
<br/>
<div class="container">
    <div class="row">
        <h1 style="font-family:微軟正黑體;">聯繫我們</h1>
        <hr/>
        <div class="col-md-12" style="color:black;font-family:微軟正黑體;">
            <p style="font-family:微軟正黑體; text-align:left;  font-size:18px;"><b>Phone :</b> 07-969-9885</p>
            <p style="font-family:微軟正黑體; text-align:left;  font-size:18px;"><b>Email :</b> <a href="mailto:cr4iii9204@gmail.com"> cr4iii9204@gmail.com</a></p>
            <p style="font-family:微軟正黑體; text-align:left;  font-size:18px;"><b>Corp Office :</b>高雄市前金區中正四路211號8樓之1 </p>

        </div>
    </div>
</div>