@model prjPetAdoption.Models.IndexViewModel

@{
    ViewBag.Title = "aniwiki";
}

@Styles.Render("~/Content/aniwiki/AniWIKI_style.css")

<br/>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" style="margin:0px auto;">
                    <span class="grid"><img src="~/Content/Images/helper/wiki.png" style="display:block; margin:auto; max-width:100%;" /></span>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="app">
 
    <hr/>
    <h4 style="font-family:微軟正黑體;">理解動物 善待彼此</h4><br/>
    <label style="font-family:微軟正黑體;">
        詳細模式
        <input type="checkbox" v-model="mode_detail" />
    </label>

    </br>
    <div class="pet {{mode_detail?'detail':''}} " v-for="pet in pets" >
        <img src="{{pet.img}}" />
        <div class="infos">
            <h2 class="name" style="font-family:微軟正黑體;">{{pet.name}}</h2>
            <h5 class="personality vuedisplay" v-if="!mode_detail" style="font-family:微軟正黑體;">個性：{{pet.personality.substring(0,5)}}</h5>
            <h4 class="personality vuedisplay" v-if="mode_detail" style="font-family:微軟正黑體;">
                個性：{{pet.personality}}
            </h4>
            <h5 class="color vuedisplay" v-if="!mode_detail" style="font-family:微軟正黑體;">毛色：{{pet.color.substring(0,5)}}</h5>
            <h4 class="color vuedisplay" v-if="mode_detail" style="font-family:微軟正黑體;">
                毛色：{{pet.color}}
            </h4>
            <h4 class="feature vuedisplay" v-if="mode_detail" style="font-family:微軟正黑體;">特徵：{{pet.feature}}</h4>
        </div>
    </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js'></script>
@Scripts.Render("~/Scripts/aniwiki/aniwiki.js")