@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Information/Information.css")



<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" style="margin:0px auto;">
                    <span class="grid"><img src="~/Content/Images/helper/care.png" style="display:block; margin:auto; max-width:100%;" /></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr />
                <h4 style="font-family:微軟正黑體; font-size:18px; text-align:center;">關於狗狗、貓咪、鳥類、兔子的照護須知</h4>
             </div>
        </div>
    </div>
</section>

<div class="container">
<ul class="nav nav-tabs">
    <li ><a href="#dog" data-toggle="tab" aria-expanded="true" style="color: #3B5998;font-family: 微軟正黑體; font-size:24px;">狗狗</a></li>
    <li ><a href="#cat" data-toggle="tab" aria-expanded="false" style="color: #3B5998;font-family: 微軟正黑體; font-size:24px;">貓咪</a></li>
    <li ><a href="#bird" data-toggle="tab" aria-expanded="false" style="color: #3B5998;font-family: 微軟正黑體; font-size:24px;">鳥類</a></li>
    <li><a href="#rabbit" data-toggle="tab" aria-expanded="false" style="color: #3B5998;font-family: 微軟正黑體; font-size:24px;">兔子</a></li>

</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="dog">
        <h1 class="h1" style="color: #3B5998;font-family: 微軟正黑體; font-size:24px; text-align:center;">狗狗照護須知</h1>
        <img style="max-width:100%; max-height:10%;  text-align:center;" class="img" src="~/Content/Images/dog2.jpg" />
        <p></p>

            <h2>壹、要經常幫狗洗澡嗎?</h2>
            <h4>其實狗狗的皮膚是偏鹼性的，不像我們人類皮膚偏酸性，因此如果經常幫狗狗洗澡的話其實會破壞了狗狗皮膚上天然保護油脂，如此一來可能引發皮膚病，大約一至兩個禮拜洗一次比較適和。</h4>
            <h2>貳、狗狗需要繫狗繩</h2>
            <h4>常常有飼主認為自己可以控制狗狗，可能呼喚牠名字牠就會跑回來，但其實不帶狗繩是一件很危險的事。很多突發狀況是飼主沒辦法控制的例如狗狗打家或是突然暴衝被車撞。</h4>
            <h2>參、餵狗狗吃甜食</h2>
            <h4>別認為狗狗喜歡吃就給牠吃這是對狗狗好的方式，其實這是在傷害牠！因為狗狗的身體構造是沒辦法分解雙醣這個東西，造成無法消化，對狗狗只有壞處沒有好處。</h4>
            <h2>肆、訓練狗狗上廁所</h2>
            <h3>1.了解狗狗排便信號</h3>
            <h4>它們會誇張的在地上聞來聞去，轉圈兒，然後就跟要選地兒似的走來走去半天。才會擺出要拉屎的姿勢。</h4>
            <h3>2.讓狗瞭解便便的地方</h3>
            <h4>你先在你希望他大小便的地方撲多一點報紙，使涵蓋的區域變大，接著你就在旁邊觀察牠，陪他在那些報紙玩，等他尿尿時可以大聲的誇獎他~(可以誇張點沒關係)給他一小塊乾糧啦或什麼的~~當作獎勵，~接著，你就讓他到處玩吧!待在旁邊觀察....要是尿在報紙上就要大力的誇獎他，尿錯的話要嚴厲的斥責他，並且用報紙捲成的紙棒打他(千萬不要打太用力喔,輕輕的,這只是向他表達"亂尿尿會被打")，在把他抱去報紙那邊，反覆幾次，等他知道要在報紙上尿尿大便時，你就可以開始減少報紙鋪蓋的範圍，到後來你可減為一張，如此一來,狗狗就學會在報紙上尿尿了。</h4>
            <h2>伍、狗狗不能吃的食物</h2>
            <h3>1.疏菜水果類</h3>
            <h4>a.蘋果杏仁桃子野莓苦瓜李子類梅子類：果肉不可多量，種子則是完全不能吃。因為多數瓜果類的種子含有氰化物（cyanide）。以上都可能導致下痢、嘔吐、下腹疼痛</h4>
            <h4>b.花椰菜：會刺激腸胃。</h4>
            <h4>c.櫻桃：導致呼吸急促、休克、口腔炎、心跳急促。</h4>
            <h4>d.洋菇：導致急性腸胃反應、肝臟和腎臟損傷、下腹痛、反胃噁心、嘔唾液。</h4>
            <h4>e.肉荳蔻：顫抖，甚至會死亡。</h4>
            <h4>f.洋蔥：胃腸不適、溶血性貧血。</h4>
            <h4>g.葡萄葡萄乾梅子：腎衰竭（每公斤體重攝取超過0。41盎司就有可能導致嚴重嘔吐和下痢）。</h4>
            <h3>2.巧克力</h3>
            <h4>巧克力中的咖啡鹹（Theobromine）對動物而言是種毒藥。它會使輸送部的血液流量減少，可能會造成心臟病和其他有致命威脅的問題。純度愈高的巧克力所含的咖啡鹹含量愈高，對狗的危險性也愈大。</h4>
            <h3>3.肝臟</h3>
            <h4>肝臟是狗最愛的食物之一，許多的零食或狗食都含有肝臟。吃食少量的肝臟其實對狗是不錯的，但如果過量卻可能引起營養問題。因為肝含有高單位的維他命A，吸取太多的維他命A，可能會引起維他命A中毒或維他命A過多症。</h4>
            <h3>4.骨頭</h3>
            <h4>不要餵食會碎裂的骨頭（如雞骨頭），骨頭碎片可能會刺入狗的喉嚨，或割傷狗的嘴巴，食道，胃或腸。窒息現象 慘白髮青的齒齦 喘氣 張嘴呼吸 扒捉臉部 淺弱且慢的呼吸 沒有意識，瞳孔擴大如果要餵食骨頭，應用壓力鍋將骨頭煮爛。骨髓是極佳的鈣，磷，銅攝取來源。啃咬大 骨也有助於清除牙垢。</h4>
            <h3>5.生雞蛋</h3>
            <h4>生蛋白含有一種卵白素（Avidin）的蛋白質，它會耗盡狗體內的維生素H（存在於維他命B群）。維生素H是狗生長及促進毛皮健康不可或缺的營養，此外生雞蛋通常也含有病菌，如沙門氏菌。餵食生雞蛋，到最後變成誤喂毒素給狗，更可能造成維生素H缺乏症。維生素H缺乏的徵狀掉毛虛弱 生長遲緩 骨骼畸形 煮熟的蛋對狗絕佳的零食，它含有高蛋白及其他的營養成分。只有生蛋白含有卵白素 ，如果要餵食生蛋，請只取用蛋黃，但仍須小心病菌的感染</h4>
            <h3>6.生肉及家禽肉</h3>
            <h4>狗在野外雖會獵食動物，但他們的免疫系統卻無法適應人工科學飼養出的家禽及肉類。最常見的2種毒素是家禽肉類中的沙門氏菌及肉類中的芽胞桿菌。</h4>
            <h3>7.牛奶</h3>
            <h4>許多狗都有乳糖不適症，如果你的狗喝了牛奶後會出現放屁，腹瀉，脫水或皮膚發炎等徵狀，應停止餵食牛奶。有乳糖不適症的狗應食用不含乳糖成分的牛奶，狗食或人食皆可，但人吃的成分可能不完全符合狗體所需。</h4>
          
       </div>
    <div class="tab-pane fade" id="cat">
        <h1 class="h1" style="color: #3B5998;font-family: 微軟正黑體; font-size:24px;  text-align:center;">貓咪照護須知</h1>
        <img style="max-width:100%; max-height:10%;  text-align:center;" class="img" src="~/Content/Images/cat.jpg" />
        <p></p>
            <h2>壹、第一次帶貓咪回家</h2>
            <h4>剛到陌生環境的貓，通常都會因為沒有安全感而緊張、想要躲藏、甚至出現攻擊性的行為。因此不論您要養的是成貓或是幼貓，在一開始帶回家的時候，都需要採取一些小措施，以幫助貓咪減低不安全感、快速適應這個新環境。</h4>
            <h2>貳、運動</h2>
            <h4>讓貓咪保持良好精神狀況以及充足的運動機會，例如提供貓抓板、貓草玩具、或是用逗貓棒和貓咪一起玩樂，不但貓咪可以運動到，主人還可以順便減肥瘦身與貓咪培養感情。也可以降低貓咪們想玩家俱的機會喔~</h4>
            <h2>參、貓咪基本儀容</h2>
            <h4>大部分的貓咪會十分重視自己是否清潔乾淨，但是還是需要主人的協助。定期幫貓咪整理儀容，是維持貓咪健康所不可欠缺的，身體健康的貓咪會有著一身光滑亮麗的毛髮。</h4>
            <h4>替貓咪整理儀容時，可以仔細注意以下幾點：</h4>
            <h4>1.眼睛是否紅腫或是分泌物過多</h4>
            <h4>2.毛髮是否黯淡無光澤、或是大量落毛、或是有跳蚤等不明蟲體</h4>
            <h4>3.口腔氣味是否強烈、有無堆積齒垢、或是牙齦是否顏色過白、牙床有無浮腫</h4>
            <h4>4.摸摸貓咪的身體，注意有沒有不尋常的腫塊、突起物、創傷、疹子、或是斑點</h4>
            <h2>肆、不該給貓咪吃的食物</h2>
            <h3>1.魚骨頭</h3>
            <h4>許多人會以為貓咪愛吃魚，就給貓咪整條魚，但是貓咪在嚥食過程中，常常會因為沒有啃碎魚骨，而導致魚刺插到喉嚨的情形，搞到最後甚至必須開刀處理。</h4>
            <h3>2.牛奶</h3>
            <h4>貓咪喝牛奶引起的拉肚子，多是因為乳糖不耐症引起，雖然可以經由適應而慢慢改善，可是必須考量，貓咪是否承受的住反反覆覆的腸胃不適與拉肚子。</h4>
            <h3>3.巧克力</h3>
            <h4>巧克力對貓咪和狗狗是有毒性的，只要一吃就會造成巧克力中毒！症狀包含抽蓄、震顫、流涎等神經症狀，以及心律不整。</h4>
            <h3>4.洋蔥</h3>
            <h4>洋蔥會讓貓咪中毒，因為其中含有讓紅血球無法凝固的成分，吃太多會造成貓咪的貧血症，呼吸困難，流口水，甚至死亡。</h4>
            <h3>5.人的食物</h3>
            <h4>人吃的食物料理，對貓咪來說營養是不均衡的，而且都會太鹹，容易造成貓咪泌尿系統的負擔，或引起疾病，所以基本上不應該給貓咪吃人吃的食物。</h4>
            <h2>伍、儀容保健重點</h2>
            <h3>1.掉毛</h3>
            <h4>貓咪時常會有落毛與毛球的問題，想要減少毛球問題，必須時常疏理貓咪的皮毛，偶爾餵食化毛膏或是控制毛球的飼料。</h4>
            <h3>2.梳毛</h3>
            <h4>建議每週至少梳毛一次，梳毛的工具可以選擇寵物專用的梳子，定時幫貓咪梳毛可以減少毛髮掉落到地板或家具上。</h4>
            <h3>3.洗澡</h3>
            <h4>貓咪都非常愛乾淨，所以一般而言，不需要太頻繁的幫貓咪洗澡。頭部以及耳朵盡量不要接觸到水，可以等身體都洗完以後，再以毛巾擦拭頭部。</h4>
            <h4>貓咪的頭部接觸到水，容易使貓咪驚嚇，增加洗澡的困難度。洗澡時請使用貓用洗毛劑，並以溫水清洗。因為貓咪較容易著涼感冒，所以可以盡可能的縮短洗澡時間，洗完後也要徹底擦乾，吹風時切勿使用過高的溫度以免燙傷貓咪。</h4>
            <h3>4.修剪指甲</h3>
            <h4>建議兩三週修剪一次，修剪的部份為指甲前端透明部分，後端有血絲部分不可剪，否則貓咪會流血。</h4>
        </div>
    <div class="tab-pane fade" id="bird">
        <h1 class="h1" style="color: #3B5998;font-family: 微軟正黑體; font-size:24px;  text-align:center;">鳥類照護須知</h1>
        <img style="max-width:100%; max-height:10%;  text-align:center;" class="img" src="~/Content/Images/bird.jpg" />
        <p></p>
            <h2>壹、鳥兒營養的疾病</h2>
            <h3>1.缺乏維生素Ａ</h3>
            <h4>原因可能是飼料過於單調，或是搭配得不對，此情形鳥兒的症狀是生長遲緩、羽毛鬆亂、運動失調等，輕微的眼睛鼻子會發炎，嚴重的可能會因此造成失明。</h4>
            <h3>2.缺乏維生素Ｄ</h3>
            <h4>飼料缺乏衛生素Ｄ或是光照不足所造成的，鳥兒會有發育不良、腳腿無力、鳥喙和爪會變軟或彎曲，會不喜歡活動且常常蹲伏在一旁，若是母鳥可能會導致產蛋數量減少。</h4>
            <h3>3.缺乏維生素Ｅ</h3>
            <h4>食物放置時間過長或是已經發霉，而導致裡頭的維生素Ｅ不足，這樣會讓幼鳥發育不良，而母鳥產下的胚胎不但發育會受阻還可能導致死亡，有的鳥兒還會有腦軟化症。</h4>
            <h3>4.鈣和磷缺乏症</h3>
            <h4>飼料成分裡缺乏適量的鈣和磷，而這樣會造成鳥兒骨骼易破碎或是易折到，幼鳥可能會出現佝僂病，而成鳥可能會有軟骨病，所以平常鈣和磷的補充非常重要。</h4>
            <h2>貳、鳥兒的腸胃疾病</h2>
            <h3>1.鳥兒便秘</h3>
            <h4>鳥兒發生便秘是因為飼料內缺乏砂石、青飼料、脂肪和水，此時的鳥兒羽毛鬆亂、煩躁不安之外，會發現牠時常做出排便的動作，卻沒有便便出來，所以平常要讓牠多喝水。</h4>
            <h3>2.鳥兒腸炎</h3>
            <h4>鳥兒的腸胃疾病通常都是由食物所引起的，得了腸炎的鳥兒會有精神不振、羽毛鬆亂，時而有排便的舉止，肛門周圍羽毛被糞便黏附，甚至會有紅腫的情形，糞便為稀釋黏稠狀。</h4>
            <h3>3.滯食疾病</h3>
            <h4>滯食是因為鳥兒吃了難以消化的粗硬食物、易發酵的飼料或是吸水後會膨脹的食物，而導致阻塞，此時的鳥兒通常食慾下降得很明顯，且會特別煩躁不安，而嗉囊會腫大。</h4>
        </div>
    <div class="tab-pane fade " id="rabbit">
        <h1 class="h1" style="color: #3B5998;font-family: 微軟正黑體; font-size:24px;  text-align:center;">兔子照護須知</h1>
        <img style="max-width:100%; max-height:10%;  text-align:center;" class="img" src="~/Content/Images/rabbit.jpg" />
        <p></p>
        <div class="div2">
            <h2>壹、如何在家放養</h2>
            <h4>兔子可以在家裡到處亂跑，但是剛開始的時候，最好先從習慣待在籠子裡。讓兔子認為籠子是她的家，並且讓牠學習使用便盆，放在兔子籠子的角落。如果他會開始使用便盆就可以開始釋放他自由的空間，讓他出來逛逛，但是千萬要小心，兔子很喜歡咬電線及書籍類，在讓他出來前請先將家裡的電線或重要物品都要收好喔！兔子想要上廁所時就會自己跑回去他習慣的廁所了。</h4>
            <h2>貳、常見疾病</h2>
            <h4>腸阻塞是兔子常見的疾病，因為兔子想到就會理毛，多少都會吃進去一點，如果遇到假懷孕的時候狀況更嚴重，跟和貓咪的習性很像，所以他們會有毛球的問題。兔子不會嘔吐把毛球吐出來，吞下過多的毛球會造成致命的腸道阻塞。如果兔子顯示出食慾喪失、糞便的形狀變小，最好去請教兔子獸醫的意見。 預防的方法：有空就多幫兔子梳毛，給小兔兔足夠的運動空間和時間，每天給足夠的新鮮乾草；在日常飲食上慢慢增加新鮮蔬菜的量，在大量換毛期或假懷孕時期，可餵食兔子青木瓜酵素(及化毛劑)或新鮮木瓜或鳳梨也是很好的選擇。</h4>
            <h2>參、日常照顧</h2>
            <h4>養兔子需定期為小兔兔檢查眼睛、鼻子、耳朵、牙齒、體重、食慾和排泄物等是否有異常，即早發現可以即早治療。</h4>
            <h2>肆、兔子的尿要怎麼清除</h2>
            <h4>有人專門賣檸檬酸或是白醋，來擦拭可以減輕兔子尿液的污垢，最主要還是每天清理會保持環境的乾淨和整潔。</h4>
            <h2>伍、要以鼓勵代替懲罰</h2>
            <h4>兔子其實是個很聰明的動物，耐心反覆教導他還是會懂，建議在教導的時候請用鼓勵的方式(如給他小點心、摸摸她的頭。)，不要用打的，她以後會對主人反感喔！ 如果要讓她學會到指定地方上廁所，將他的大便和尿味固定一個地方，他如果跑到指定地方上廁所，可以給她獎賞的小點心，他慢慢就學會瞜！ 他如果跑去咬電線，趕他走就好了，幾次之後他就會知道這樣的行為是不可以的。養兔子跟敎小朋友是一樣的，都需要耐心喔!</h4>
            <h2>陸、兔子會認人嗎?</h2>
            <h4>兔兔會認人喔!!但是沒有貓狗的明顯,因為兔子是草時性動物,有點像"認同伴", 兔子會把你當同伴,但並不一定是會把你當主人喔~~慢慢訓練他聽到名字就會跑過來喔！當他會認你的時候，看到你的出現有時候會跳起兔子舞勒~ 很高興的喔！</h4>
            <h2>柒、兔兔一定要有伴才好嗎？</h2>
            <h4>這可不一定喔！兔兔是非常有領域觀念的動物，不論公母，除非家裡頭有非常足夠的空間，可以讓他們劃地為王，不然他們再你一不留意的時候就打的你死我活喔，而且最好要分開籠子飼養，放風的時候要幫他們清理劃地的便便就會受不了摟！如果還想多養一隻，就要好好的考慮清楚了！</h4>
            <h2>八、兔兔的眼睛都是紅色的嗎？</h2>
            <h4>兔兔的眼睛不一定都是紅色的喔！兔子的身體裡含有各種色素的關係，小白兔是屬於不含色素的品種(白子因素)，瞳孔的膜(虹彩)完全沒有顏色，可以透視到裡面的血液，，而並非其眼睛本身的顏色所致。也並不是因為吃紅蘿蔔眼睛才會變紅色的喔！</h4>
        </div>

</div>

</div>