
@{
    ViewBag.Title = "show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/AdoptNavigatecss/AdoptNavigate.css">

<br />
<br />

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" style="margin:0px auto;">
                    <span class="grid" style="font-family:微軟正黑體;"><img src="~/Content/Images/allpic/認養專區.png" style="display:block; margin:auto; max-width:100%;" /></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            
                <hr/>
                <p  style="font-family:微軟正黑體; font-size:18px;">本站提供全台動物之家的認養資訊，以及個人對個人（Peer To Peer）的媒合服務。</p>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="grid">
                <figure class="effect-lily">
                    <a href="@Url.Action("opAnimalList", "opAnimal")"></a>
                    <img src="../Content/Images/adopt/adopt2.jpg" alt="全台收容所認養資訊區" />
                    <figcaption>

                        <h2 style="color:black; font-size:40px; font-family:微軟正黑體; font-weight:bold;">全台收容所認養資訊區</h2>


                    </figcaption>
                </figure>
            </div>

        </div>
        <div class="col-md-6">
            <div class="grid">
                <figure class="effect-lily">
                    <a href="@Url.Action("PetInformation", "Pet")">View more</a>
                    <img src="../Content/Images/adopt/adopt1.jpg" alt="Pet Go認養資訊區" />
                    <figcaption>
                        <h2 style="color:black; font-size:40px; font-family:微軟正黑體; font-weight:bold;">Pet Go認養資訊區</h2>


                    </figcaption>
                </figure>
            </div>

        </div>
    </div>
</div>

<!--禁用連結-->
<a class="btn btn-*"></a>
<section class="adoptnavigate1">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin:0px auto;">

                <h1 style="color:black; font-family:微軟正黑體;">Pet Go認養流程</h1>
                <hr />
                <span class="grid"><img src="~/Content/Images/allpic/adoptway2.png" style="display:block; margin:auto; max-width:100%;" /></span>
            </div>
        </div>
    </div>
</section>
<section class="adoptnavigate1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <h1 style="color:black; font-family:微軟正黑體;">收容所認養流程</h1>
                <hr />
                <span class="grid"><img src="~/Content/Images/allpic/adoptway1.png" style="display:block; margin:auto; max-width:100%;" /></span>

                <div class="row">
                    <div class="col-md-12" style="margin:0px auto;">

                        <h1 style="color:black; font-family:微軟正黑體;">認養須知</h1>
                        <hr />
                        <p style="color:black; font-family:微軟正黑體; font-size:18px;">
                            一、申請人：年滿20歲之民眾。未滿20歲者，以其法定代理人或法定監護人為飼主。
                        </p>
                        <p style="color:black; font-family:微軟正黑體; font-size:18px;">
                            二、申請步驟：
                            <br />
                            （一）申請人應攜身分證明文件，填具申請書。
                            <br />
                            （二）承辦人員應就認養人核對身分證明文件，必要時得親自實地勘察。
                            <br />
                            （三）待認養動物條件：於本處留置已逾7日尚無飼主認領或無身分標識者，且經本處健康行為評估適於認養者。
                            <br />
                            （四）符合認養人資格者，得由管理人員協助，由可認養犬隻中，自行挑選合意犬隻。
                            <br />
                            （五）繳交相關規費：晶片植入手續費250元、狂犬病預防注射費200元。
                            <br />
                            （六）未實施晶片植入、狂犬病預防注射及寵物登記之動物，應於完成晶片植入、狂犬病預防注射及寵物登記後始得放行。<br />  唯8週齡以下幼犬暫免施打狂犬病疫苗。
                            <br />
                            （七）認養之犬隻自領出日起1個月內，若因任何原因無法續養，可將該犬交還本所，填寫「不擬續養動物申請切結書」放棄該犬之所有權，<br />  並繳回寵物登記證及狂犬病預防注射證明辦理註銷。認養時所繳之費用概不退還。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Styles.Render("~/Content/showForAdopt/show.css")
